<!-- icons are on https://fontawesome.com/icons?d=gallery&m=free -->
<script src="https://kit.fontawesome.com/f7818d968c.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{{ "/assets/js/script.js" | relative_url }}"></script>
{% for script in page.cdnScripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for script in page.scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}
