<div class="list">
  <ul class="posts">
    {% for post in include.posts %}
    <li class="post">
      <a href="{{ post.url | relative_url }}" class="post__link">
        <h2 class="post__title">{{ post.title }}</h2>
        <p class="post__excerpt">
          {{ post.excerpt | strip_html }}
        </p>
        <div class="post__date">
          <p class="post__dateText">
            {{ post.published_at | date: '%Y年%m月%d日' }}
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
