<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bgn_nakazato">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}{% unless page.title %}{{ site.title }}{% endunless %}">
{% if page.excerpt %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% endif%}
<meta name="twitter:image" content="https://nkzttt.github.io/my_babies/assets/images/twitter-card.png">
<meta name="twitter:image:alt" content="bgn_nakazato's babies">
