<div class="sub">
  <section class="subContent">
    <div class="subContent__header">
      <div class="subVisual">
        <div class="fas fa-pen-nib subVisual__icon"></div>
        <h2 class="subVisual__title">筆者</h2>
      </div>
    </div>
    <div class="author">
      <p class="author__introduce">
        長野県でIT系のリモートワークをしながら子育てをしている、 平成元年生まれの父親です。令和元年に長女が誕生し、父親になりました。筆者は一人っ子で、親からの期待をいっぺんに背負いながら育ちました。自分の子供には、自身の人生を自由に生きて欲しい！<br>
      </p>
      <div class="author__link">
        <a href="https://twitter.com/bgn_nakazato" target="_blank" class="author__twitter">
          <div class="fab fa-twitter author__twitterIcon"></div>
          <p>bgn_nakazato</p>
        </a>
      </div>
    </div>
  </section>
</div>
