<!DOCTYPE html>
<html lang="ja">
<head>
  {% include google.html %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% include twitter_card.html %}
  <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
  <title>
    {% if page.title %}{{ page.title }}{% endif %}{% unless page.title %}{{ site.title }}{% endunless %}
  </title>
  {% include common_styles.html %}
</head>
<body>
<div class="container">
  <header class="header">
    <a href="{{ "/" | relative_url }}" class="header__fitContainerLink">
      <h1 class="header__title">
        {{ site.title }}
      </h1>
      <div class="header__footprint header__footprint--first">
        {% include footprint.html index="first" %}
      </div>
      <div class="header__footprint header__footprint--second">
        {% include footprint.html index="second" %}
      </div>
      <div class="header__footprint header__footprint--third">
        {% include footprint.html index="third" %}
      </div>
    </a>
  </header>
  <div class="body">
    <div class="body__main">
      <main class="main">
        {{ content }}
      </main>
    </div>
    <div class="body__sub">
      {% include sub_content.html %}
    </div>
    <div class="body__endContent">
      {% include adsense.html %}
    </div>
  </div>
  <div class="footer">
    <div class="footer__contents">
      <p class="footer__refusal">このブログでは、子どもたちの個人情報保護のため、顔写真や名前は出しません。</p>
      <div class="footer__visual">
        <div class="visual">
          <img src="{{ "/assets/images/visual.png" | relative_url }}" alt="赤ちゃん">
          <span class="visual__pin fas fa-map-pin"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="fixedContents">
    <div class="fixedContents__gradient"></div>
  </div>
</div>
  {% include loading.html %}
  {% include common_scripts.html %}
</body>
</html>