.list {
  max-width: $width;
  margin: 0 auto;
}

.posts {
  padding: 30px 30px 0;
  @media (max-width: $break-point) {
    padding: 30px 15px 0;
  }
}
.post {
  & + & {
    margin-top: 30px;
  }
  &__link {
    display: block;
    position: relative;
    color: $black;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      width: 70%;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: blur(15px);
      opacity: .2;
      transition: opacity 300ms ease-in;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &:nth-child(3n - 2) > &__link::after {
    background: linear-gradient(to left, transparent, $yellow);
  }
  &:nth-child(3n - 1) > &__link::after {
    background: linear-gradient(to left, transparent, $dimYellow);
  }
  &:nth-child(3n) > &__link::after {
    background: linear-gradient(to left, transparent, $deepYellow);
  }
  &__title {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: $font-large;
    letter-spacing: .1em;
  }
  &__excerpt {
    margin-bottom: 10px;
    @include readableFont();
    font-size: $font-small;
    line-height: 1.5;
  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__dateText {
    opacity: .4;
  }
}

.pager {
  text-align: center;
  > a {
    color: $dimYellow;
  }
}