.top {
  &__record {
    width: 100%;
    margin-bottom: 60px;
    @media (max-width: $break-point) {
      margin-bottom: 45px;
    }
  }
}

.record {
  display: block;
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: $white;
    font-size: $font-large;
    letter-spacing: .15em;
    text-shadow: 0 0 5px $black, 0 0 5px $black, 0 0 5px $black;
    @media (max-width: $break-point) {
      padding: 10px;
      font-size: $font-middle;
    }
  }
  &__chart {
    border-radius: 15px;
    background-color: $black;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &:hover &__image {
    transform: scale(1.1);
  }
}
