$averageColor: #ccc;

.weight {
  padding: 30px 30px 0;
  @media (max-width: $break-point) {
    padding: 30px 15px 0;
  }
  &__header {
    margin-bottom: 60px;
    @media (max-width: $break-point) {
      margin-bottom: 45px;
    }
  }
}

.weightTitle {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: $black;
  @media (max-width: $break-point) {
    padding: 10px 15px;
  }
  &__image {
    width: 50px;
    height: auto;
    margin-right: 15px;
    @media (max-width: $break-point) {
      width: 40px;
      margin-right: 10px;
    }
  }
  &__text {
    color: $white;
    font-size: $font-large;
    letter-spacing: .15em;
    @media (max-width: $break-point) {
      font-size: $font-middle;
    }
  }
}

.weightChart {
  margin-bottom: 60px;
  @media (max-width: $break-point) {
    margin-bottom: 45px;
  }
}

.ct-chart {
  margin-bottom: 10px;
}
.ct-label {
  @include readableFont();
  color: $black;
  white-space: nowrap;
}
.ct-series-a {
  .ct-point, .ct-line {
    stroke: $averageColor;
  }
}
.ct-series-b {
  .ct-point, .ct-line {
    stroke: $yellow;
  }
}

.chartGuide {
  display: flex;
  justify-content: flex-end;
  @media (max-width: $break-point) {
    display: block;
  }
  &__item {
    @include readableFont();
    font-size: $font-small;
    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 5px;
      position: relative;
      top: -1px;
      margin-right: 5px;
      vertical-align: middle;
    }
    &--average::before {
      background-color: $averageColor;
    }
    &--child::before {
      background-color: $yellow;
    }
    & + & {
      margin-left: 30px;
      @media (max-width: $break-point) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}

.startWeight {
  margin-bottom: 15px;
  @include readableFont();
  font-size: $font-small;
}

.weightTable {
  min-width: 40%;
  border-collapse: collapse;
  @include readableFont();
  font-size: $font-small;
  line-height: 1.2;
  text-align: right;
  @media (max-width: $break-point) {
    width: 100%;
  }
  th {
    background: $black;
    color: $white;
    font-weight: normal;
  }
  th, td {
    padding: 5px 10px;
    border: solid 1px $black;
    vertical-align: top;
    &:last-child {
      white-space: normal;
    }
  }
}
