<!DOCTYPE html>
<html lang="ja">
<head>
  {% include analytics.html %}
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--  TODO: SEO タグ書く（plubin は微妙だった）-->
  <meta name="robots" content="noindex , nofollow" />
  <title>
    {% if page.title %}{{ page.title }}{% endif %}
    {% unless page.title %}{{ site.title }}{% endunless %}
  </title>
  {% include common_styles.html %}
</head>
<body>
  Now used my default layout!
  {{ content }}
  {% include loading.html %}
  {% include common_scripts.html %}
</body>
</html>